* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(
        225deg,
        rgb(22, 22, 22),
        rgb(68, 68, 68)
    );
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(209, 68, 68);
}

nav ul {
    display: flex;
    justify-content: flex-end;
    row-gap: 5px;
    list-style-type: none;
}

a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

#presentacion {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .titulo {
    color: white;
    font-size: 4em;
    margin-bottom: 0;
}

header .subtitulo {
    color: rgb(209, 68, 68);
    font-size: 1.2em;
}

main .titulo {
    color: white;
    text-align: center;
    text-decoration: underline;
}

main {
    background-color: rgb(90, 93, 134);
    padding-top: 50px;
    text-align: center;
}

.proyectos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


figure {
    display: inline-block;
    margin: 10px;
}

figcaption {
    background-color: rgb(68, 68, 68);
    margin: 0;
    margin-top: -5px;
    padding: 15px 0;
    text-align: center;
    color:white;
}

img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.mas {
    display: inline-block;
    background-color: rgb(68, 68, 68);
    color: white;
    text-align: center;
    margin: 10px;
    padding: 10px 20px;
}

.final {
    height: 60vh;
    text-align: center;
    color: white;
}

.final h2 {
    margin-top: 300px;
    margin-bottom: 10px;
    font-size: 3em;
}

.final p {
    margin-bottom: 70px;
}

.final ul {
    display: flex;
    justify-content: center;
    row-gap: 5px;
    list-style-type: none;
    margin-bottom: 220px;
    font-size: 1.2em;
    padding: 0;
}

hr {
    border-color: rgb(209, 68, 68);
    border-bottom-width: 4px;
}

